[Desktop Entry]
Name=Semeadora
comment=GPS Application
Exec=python3 /home/debian/Semeadora/main.py
Terminal=false
Type=Application
Icon=/home/debian/Semeadora/icon.png
Categories=Acessories
Terminal=false
Name[pt_BR]=Semeadora
