[Desktop Entry]
Name=VNC
comment=VNC Application
Exec=/root/vnc.sh
Terminal=false
Type=Application
Icon=/root/vnc.png
Categories=Acessories
Terminal=false
Name[pt_BR]=VNC
