[Desktop Entry]
Name=ShutDown
comment=ShutDown Application
Exec=/root/shutdown.sh
Terminal=false
Type=Application
Icon=/root/off.jpeg
Categories=Acessories
Terminal=false
Name[pt_BR]=Shutdown

