[Desktop Entry]
Name=Start
comment=ShutDown Application
Exec=/root/start.sh
Terminal=false
Type=Application
Icon=/root/vnc.png
Categories=Acessories
Terminal=false
Name[pt_BR]=Start

